@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Hector Samuel Casuy Diaz<br />
   Tel: +502 3021 3865<br />
    Desarrollador .NET<br />
    Asistencia SAP Business One
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sammy.kazzu@outlook.com">sammy.kazzu@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kazzu.holiness@gmail.com">kazzu.holiness@gmail.com</a>
</address>